<nav>
	<div class="nav-wrapper red">
		<a href="/" style="padding: 0.75rem; font-size: 1.25rem; font-weight: 600"
			>The Daily Presh</a
		>
		<ul id="nav-mobile" class="right">
			<li><a href="/">Blogs</a></li>
			<li><a href="/about">About</a></li>
			<li>
				<a href="/blogs/create"><i class="material-icons">create</i></a>
			</li>
		</ul>
	</div>
</nav>
