<html lang="en">
	<%- include('./partials/head.ejs'); %>
	<body>
		<%- include('./partials/nav.ejs'); %>

		<div class="about content">
			<h2>About Us</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam,
				harum dignissimos, quaerat dolorum praesentium voluptate earum
				perferendis temporibus magni quos deleniti, illo dicta dolore enim natus
				eius voluptatem. Perspiciatis, eaque?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
				voluptate eos quis dolorem maiores enim, veritatis ut consectetur iure
				repudiandae eveniet tenetur accusantium, voluptatem esse inventore
				blanditiis sit nisi quia.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi minima
				repellendus neque eaque veritatis, ipsam velit optio qui voluptatem
				reiciendis, a error ducimus tenetur nam sunt distinctio odio quod saepe.
			</p>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
